html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif !important;
}

body {
    background-color: #fff;
    color: #000;
}

header {
    background-color:#374050;
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    color: #fff;
    z-index: 1000;
}

.faker {
    height: 70px;
}
.importantRuleBorder{
    border: 2px solid #FF5244 !important;
}
.vertical-bottom{
    vertical-align: bottom !important;
}
header .container {
    height: 100%;
    display: flex;
    align-items: center;
}

header p a:hover,
header p a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

.container {
    max-width: 1125px !important;
}

.block,
.new_application {
    padding-top: 35px;
}

.form_section {
    padding: 60px 0 30px;
}

/*.nav-tabs{*/
/*    display: flex;*/
/*    width: 74%;*/
/*    margin-left: 13% !important;*/
/*    justify-content: space-between;*/
/*}*/
/*.nav-tabs li.active button{*/
/*    background-color: white !important;*/
/*}*/
/*.nav-tabs li a:hover{*/
/*    color: #007BFF !important;*/
/*}*/
/*.block_button:focus{*/
/*    outline: none !important;*/
/*}*/
/*.block_button:hover{*/
/*    background-color: white !important;*/
/*    text-decoration: underline;*/
/*    color: black !important;*/
/*}*/
#questionnaire-form .table td{
    border: none !important;
}
#evaluate-div .modal-content{
    border-radius: 15px !important;
}
#evaluate-div .modal-body .modal-title{
    margin-bottom: 20px;
}
.close{
    font-size: 0px;
}
.close .modal-close img{
    color: red;
}
.close .modal-close:hover img{
    text-decoration: none;
    color: red;
}
.nextPrevBtns{
    display: flex;
    justify-content: space-between;
    font-size: 16px !important;
    margin: 40px auto;
}
.btn_prev,.btn_next{
    width: 136px;
    text-transform: uppercase;
    height: 32px;
    font-weight: normal;
    font-size: 14px;
    padding: 3px 0;
    border-radius: 5px;
    outline: none !important;
}
.btn_prev{
    background-color: white;
    border: 1px solid #0894A1;
    color: black;
}
.btn_next{
    background-color: #47AB6B;
    color: white;
    border: none;
}
.nav-item:not(:first-child){
    display: inline-block !important;
    margin-left: 25px !important;
}
.nav-item a{
    color: #212529;
}
.nav-item a:hover{
    color: #212529 !important;
}
.nav-item.error{
    background-color: #FF5244 !important;
}
.new_app_btn {
    background-color: #F9B232;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 103.6%;
    height: 98px;
    border: none;
    border-radius: 5px;
    margin-bottom: 100px;
    font-weight: 700;
    font-size: 35px;
    text-transform: uppercase;
}

.new_app_btn:hover {
    color: #fff;
    text-decoration: none;
}


.large,
.entry_form h1 {
    font-size: 35px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

.entry_form h1 {
    margin-right: 88px;
    margin-bottom:50px;
}

.doc_download{
    font-size: 22px;
    color: #29AC6F !important;
}
.large {
    font-size: 35px;
    margin-top: 30px;
    margin-bottom: 0;
}
.entry_form_subtitle.text-left{
    padding-left: 45px;
}
.entry_form_subtitle.select_questionnaire{
    margin-right: 102px;
}
.entry_form_subtitle {
    text-align: center;
    font-size: 20px;
    padding-left: 16px;
    font-weight: 500;
}

.form_title {
    text-transform: uppercase;
    font-size: 23px;
    font-weight: bold;
    margin-bottom: 11px;
}
.new_application input {
    display: block;
    border-radius: 5px;
    height: 43px;
    font-size: 14px;
    border: 1.5px solid #47B39C;
    width: 100%;
    padding: 10px 15px;
    margin-bottom: 40px;
}

.new_app_content {
    width: 100%;
    position: relative;
    height: 200px;
}

.new_app_content .window {
    position: absolute;
    top: 0;
    right: 0;
    border: 2px solid #fcb040;
    border-radius: 15px;
    padding: 20px 15px;
    text-align: center;
    font-size: 16px;
}

.new_app_content .new_app_operator_img{
    position: absolute;
    top: -10px;
    left: -97px;
}

.table {
    overflow-x: scroll;
}

.new_application table {
    width: 100%;
    border-collapse: collapse;
}

.new_application table th {
    font-weight: normal;
    text-align: center;
    height: 34px;
}
.new_application table td{
    height: 50px;
}

.new_application table td,
.new_application table th {
    border: 1px solid #47B39C;
    padding: 6px;
    font-size: 14px;
    vertical-align: middle;
}

.new_application table tr:nth-child(odd) td {
    background-color: rgba(71, 179, 156, 0.2);;
}

.btn_container {
    display: flex;
}
.btn_container .dropdown-item{
    color: #000 !important;
    font-weight: 100 !important;
    background-color: white !important;
    border: 2px solid #0894a1 !important;
}

.link_btn,
.profile_btn,
.pdf_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 100;
    width: 119px;
    height: 32px;
    border-radius: 2px;
    font-size: 14px;
    background-color: #47AB6B;
    color: #fff;
    margin: 0 auto;
}

.link_btn,
.profile_btn{
    width: 105px;
}

button.link_btn {
    border: none;
}

.link_btn {
    color: #000;
    border: 2px solid #0894A1;
    background-color: white;
    border-radius: 5px;
    font-weight: 100;
}

.link_btn:hover {
    color: #000;
    text-decoration: none;
}

.profile_btn:hover,
.pdf_btn:hover {
    color: #fff;
    text-decoration: none;
}

.form_field {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.entry_form .form_field {
    flex-direction: column;
}
.entry_form .form_field.flex_row{
    margin-right: 90px;
    margin-top: 30px;
    margin-left: 12px;
}
@-moz-document url-prefix() {
    .entry_form .form_field.flex_row {
        margin-right: 73px;
    }
}
.form_field.flex_row {
    flex-direction: row;
}

.form_field_inner {
    display: flex;
    width: 103.8%;
}

.client-questionnaire .form_field label{
    text-transform: uppercase;
    font-weight: bold;
    width: 220px;
    display: block;
    text-align: right;
    padding-right: 37px;
    font-size: 18px;
    margin-top:8px;
}

.form_field label {
    text-transform: uppercase;
    font-weight: bold;
    width: 271px;
    display: block;
    text-align: right;
    padding-right: 37px;
    font-size: 23px;
    margin-top:8px;
}

@-moz-document url-prefix() {
    .form_field label {
        width: 278px;
    }
}
.form_field select,
.form_field input {
    display: block;
    width: 340px;
    height: 31px;
    font-size: 14px;
    background-color: #FFFFFF;
    border: 1px solid #47b39c;
    padding: 0 15px;
    border-radius: 5px;
    margin-left: -15px;
}

span.error {
    color: #ff0000;
    font-size: 11px;
}

.profile_info {
    display: flex;
}

.profile_info p {
    margin-bottom: 0;
}

.profile_number {
    border-right: 2px solid #258db4;
    padding-right: 20px;
}

.profile_number .title {
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

.profile_number .number {
    font-size: 35px;
    text-transform: uppercase;
    font-weight: bold;
}

.profile_doc {
    position: relative;
    top: -3px;
    padding-left: 20px;
    padding-top: 10px;
}

.profile_doc .number {
    position: relative;
    top: -7px;
    font-size: 20px;
}

.profile_text {
    margin-top: 25px;
    height: 150px;
}

.form_section .container {
    position: relative;
}

.prf_close {
    position: absolute;
    right: -50px;
    top: -25px;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
}

.form_section .profile_btn {
    width: 131px;
    margin-right: 20px;
}

.form_section .link_btn {
    width: 100%;
}

.block_header {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.block_header li {
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
}

.circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #C4C4C4;
}
.circle span{
    font-size: 40px !important;
    color: #818087;
    top: -9px !important;
    left: 1px !important;
}
.circle-text{
    display: none;
    position: relative;
    top: 32px;
    font-size: 23px;
    font-weight: 700;
    margin: 0 18px 0 6px;
}

.static span {
    position: relative;
    top: -20px;
}

.nav-link{
    width: 100%;
    height: 100%;
    border-radius: 100%;
}
li.active span {
    position: absolute;
    font-size: 75px;
    top: -38px;
    left: 0;
}

.static {
    margin-right: 30px;
}

.block_header .circle:not(:last-child) {
    margin-right: 15px;
}

.block_content_title,
.block_content_subtitle {
    font-size: 30px;
    margin-bottom: 0;
    text-transform: uppercase;
}

.block_content {
    margin-top: 0px;
}

.block_content_title {
    font-weight: bold;
}

.block_content table {
    width: 100%;
}

.blockA .block_content table {
    margin-top: 0px;
}

.block_content table td {
    padding: 5px 10px;
}

.block_content table input {
    width: 100px;
    border: 1px solid #47B39C;
}

.block_content table tr:nth-child(even) td {
    background-color: #E9F6F3;
}

.blockD .block_title {
    background-color: #fcb040;
}

.blockD .block_content table input {
    border: 1px solid #9fbde3;
}

.subtitle {
    font-weight: bold;
    font-size: 26px;
    margin-bottom: 0;
}

.blockD .block_content_title {
    margin-bottom: 20px;
}

.all_apps table tr td:nth-child(4),
.blockD .block_content table tr td:nth-child(4) {
    text-align: center;
}

.profile_btn.save_questionnaire{
    border: none;
}

.block_content .profile_btn {
    width: 180px;
    margin-right: 130px;
}

.block_row {
    margin-bottom: 20px;
}

.entry_form form {
    margin: 0 auto;
}

.entry_form input,
.entry_form select {
    background-color: #fff;
}

.entry_form .submitLater, .entry_form .submitOffice {
    border: none;
    background-color: #fcb040;
    padding: 0 40px;
    font-size: 20px;
    height: 70px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 34px;
    border-radius: 4px;
}


#questionnaire-div {
    max-width: 551px;
    margin-left: 45px;
}
.dropdown-content input{
    width: 551px;
    height: 43px;
}
.form_field .form_field_inner select,
.form_field .form_field_inner input {
    width: 551px;
    height: 55px;
    font-size: 18px;
    padding: 14px 18px;
}
.form_field .form_field_inner input::placeholder{
    color: #9A99A2;
}
.form_field .form_field_inner select{
    color: #9A99A2;
}


.choosen {
    font-weight: bold;
}

.choosen button {
    border: none;
}

.choosen .profile_btn {
    margin-right: 6px;
    white-space: nowrap;
}

.choosen .btn_container {
    margin-top: 20px;
    justify-content: center;
}

.num {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    border: 1px solid #47b39c;
    font-size: 20px;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    margin-left: 0;
}

.num::-webkit-outer-spin-button,
.num::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
div.table{
    overflow-x: hidden;
}
input[type=number].num {
    -moz-appearance: textfield;
}

.num_row {
    margin: 30px 0 50px;
}

select:focus,
button:hover,
input:focus {
    outline: none;
}

.mail_inner {
    border: 1px solid lightslategrey;
    border-radius: 20px;
    max-width: 600px;
    margin: 35px auto 0 auto;
    padding: 30px 15px;
}

.mail_inner h1 {
    margin-bottom: 20px;
}

.mail_btn {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    margin: 35px auto 0 auto;
    border-radius: 20px;
    background-color: #258db4;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
}

.mail_btn:hover {
    text-decoration: none;
    color: #fff;
}

.entry_form_subtitle span {
    color: #258db4;
}

@media only screen and (max-width: 1100px) {
    .block_content .profile_btn {
        margin-right: unset;
    }
}

@media only screen and (max-width: 991px) {
    .profile_info,
    .profile_text,
    .form_section .btn_container {
        max-width: 300px;
    }

    .form_section .btn_container {
        margin-top: 20px;
        margin-bottom: 40px;
    }

    .profile_info {
        margin-top: 30px;
    }

    .subtitle,
    .block_content_title,
    .block_content_subtitle,
    .new_app_btn {
        font-size: 20px;
    }
}

@media only screen and (max-width: 700px) {
    .block table tr td:first-child {
        min-width: 400px;
    }

    .subtitle,
    .block_content_title,
    .block_content_subtitle {
        font-size: 16px;
    }

    .entry_form button {
        font-size: 14px;
    }
}

@media only screen and (max-width: 500px) {
    .form_field,
    .form_field_inner {
        display: block;
    }

    .form_field label {
        width: unset;
        text-align: left;
    }
}

@media only screen and (max-width: 400px) {
    .block table tr td:first-child {
        min-width: 250px;
    }

    .block_content .profile_btn {
        width: unset;
        padding-left: 5px;
        padding-right: 5px;
    }

    .entry_form .submit,
    .entry_form button {
        width: 130px;
    }
}
.report_btn{
    border: none;
    background-color: #28A745 !important;
}

.entry-block{
    display: flex;
}
.entry-block .num{
    width: 59px;
    padding-right: 15px;
    text-align-last: center;
    -moz-text-align-last: center;
    -ms-text-align-last: center;
}

.entry-block .text-left{
    width: 538px;
    padding-left: 45px;
}

select.num,
select[name='area_region'],
select[name='area_city'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 5px;
    text-overflow: '';
    cursor: pointer;
}

select.error-select,
input.error-input
{
    border:2px solid red !important;
    color: red !important;
}

select.error-select,
input.error-input::-webkit-input-placeholder
{ /* WebKit, Blink, Edge */
    color: red !important;
}
input.error-input:-moz-placeholder
{ /* Mozilla Firefox 4 to 18 */
    color: red !important;
    opacity: 1;
}
input.error-input::-moz-placeholder
{ /* Mozilla Firefox 19+ */
    color: red !important;
    opacity: 1;
}
input.error-input:-ms-input-placeholder
{ /* Internet Explorer 10-11 */
    color: red !important;
}
input.error-input::-ms-input-placeholder
{ /* Microsoft Edge */
    color: red !important;
}
input.error-input::placeholder
{ /* Most modern browsers support this now. */
    color: red !important;
}

.form_field_inner span.error{
    display: none;
}





