0GER13                                                       10286661033     {{ rowsNum }}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    A
{% spaceless %}{{ header }}{% endspaceless %}
{% set index = 0 %}
{% for label, value in valuesMap %}
{% if index is divisible by(100) %}
{% if index != 0 %}                                                                                                A{% endif %}
{% set index = 0 %}

T07802841002     00000000                                                                {{ atecoCode }}201301{% endif %}
{% spaceless %}{{ label }}{{ value }}{% endspaceless %}
{% set index = index + 1 %}
{% endfor %}
{% if index == 100 %}                                                                                                A
{% else %}
{% for i in 1..(100-index)%100 %}                 {% endfor %}                                                                                                A
{% endif %}
9GER13                                                       10286661033     {{ rowsNum }}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    A
