/* ---- Gebo Admin blue theme ---- */

    .login{
        margin-left: 120px;
    }
    a.nav-link.active span{
        color: #000;
        font-size: 80px !important;
        top: -39px !important;
        left: -13px !important;
    }
    .navbar-inner {
        background-color: #eeeeee;
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3993ba', endColorstr='#067ead',GradientType=0 );
    }
    .navbar-inner .container-fluid{
        background: -webkit-linear-gradient(top, #3993ba 0%,#067ead 100%) !important;
    }
    .navbar .nav > li > a {
        color: #c1dce7;
    }
    .navbar .nav > li:hover > a {
        color:#fff;
    }
    /*.navbar .nav .active > a, .navbar .nav .active > a:hover {*/
        /*background: #206484 !important;*/
    /*}*/
    .navbar .divider-vertical {
        border-left-color:#2078A1;
        border-right-color:#3497C2;
    }
    .dropdown-menu li > a:hover, .dropdown-menu .active > a,
	.dropdown-menu .active > a:hover,
    .nav-list > .active > a, .nav-list > .active > a:hover {
        background: #48a6d2 !important;
    }

	.table thead th {background-color:#ebf2f6 !important}
	.dataTables_wrapper th.sorting_asc,.dataTables_wrapper th.sorting_desc {background-color:#d4e3eb !important}

    /*new modal*/

.modal-confirm {
    position:relative;
    color: #636363;
    width: 200px;
    margin: 30px auto;
}
.modal-confirm .modal-content {
    padding: 20px;
    border-radius: 5px;
    border: none;
    text-align: center;
    font-size: 14px;
}
.modal-confirm .modal-header {
    border-bottom: none;
    position: relative;
}
.modal-confirm h4 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 18px;
    font-weight: normal;
    line-height: 22px;
    margin: 30px 0 -10px;
}
.modal-confirm .close {
    position: absolute;
    top: -5px;
    right: -2px;
}
.modal-confirm .modal-body {
    color: #999;
}
.modal-confirm .modal-footer {
    border: none;
    text-align: center;
    border-radius: 5px;
    font-size: 13px;
    padding: 10px 15px 25px;
}
.modal-confirm .modal-footer a {
    color: #999;
}
#final-validation-text{
    font-size: 16px !important;
    color: black !important;
    font-weight: 500 !important;
}
.modal-confirm .icon-box {
    width: 150px;
    position: absolute;
    top:-87px;
    left:50%;
    margin: 0 auto;
    z-index: 9;
    text-align: center;
    transform: translate(-50%);
}
.evaluate-success-btn:hover{
    background-color: red !important;
}
.modal-confirm .icon-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#validation-failed-notify .modal-confirm{
    width: 460px !important;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
}
#validation-failed-notify .modal-confirm .modal-content{
    border-radius: 15px !important;
}

#validation-failed-notify .modal-confirm .icon-box {
    width: 120px !important;
    top:-73px !important;
}

/*.modal-confirm .icon-box i {*/
/*    color: #f15e5e;*/
/*    font-size: 80px;*/
/*    display: inline-block;*/
/*}*/
#success-evaluate-btn{
    background-color: #25AE88 !important;
}
#success-evaluate-btn:hover{
    background-color: #32be96 !important;
}
.modal-confirm .btn {
    color: #fff;
    border-radius: 4px;
    background: #60c7c1;
    text-decoration: none;
    transition: all 0.4s;
    line-height: normal;
    min-width: 120px;
    border: none;
    min-height: 40px;
    border-radius: 3px;
    margin: 0 5px;
    outline: none !important;
}
.modal-confirm .btn-info {
    background: #c1c1c1;
}
.modal-confirm .btn-info:hover, .modal-confirm .btn-info:focus {
    background: #a8a8a8;
}
.modal-confirm .btn-danger {
    background: #f15e5e;
}
.modal-confirm .btn-danger:hover, .modal-confirm .btn-danger:focus {
    background: #ee3535;
}
.trigger-btn {
    display: inline-block;
    margin: 100px auto;
}
