/*DESCRIZIONI DEI VARI FORMATI DI VISUALIZZAIONE E STAMPA USATI IN TWIG*/
/* @override http://ebrating/css/eb_custom.css */

.login-container{
    margin-top: 80px;
}
/*DESCRIZIONE DEL LOGO DI EVABETA NELLA STAMPA PDF*/
#splash_eb_logo {
    width: 142px;
    height: 46px;
    background-image: url(../img/eb-logo.jpg);
    /*position: relative;
    top: 100px;
    display: block;*/
    margin: auto;
    margin-bottom: 25px;
}

.loader-icon {
    background-image: url("../img/ajax-small-loader.gif") !important;
    background-position: 0 0 !important;
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    line-height: 16px;
    margin-top: -1px;
    position: relative;
    vertical-align: text-top;
    width: 16px;
}

span.loader {
    display: none;
    padding: 4px 0;
    width: 30px;
    text-align: center;
    margin: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px
}

#simple_wizard-titles a:hover {
    text-decoration: none;
}

.stepy-titles li {
    cursor: default!important;
}

.w-box-content.company_details_wdg {
	padding: 9px;
	display: block;
	min-height: 110px;
	overflow: auto;
}

.w-box-content.company_status_wdg {
	padding: 9px;
	display: block;
	height: 60px;
	overflow: auto;
}

.w-box-content.company_comments_wdg {
	display: block;
	height: 128px;
	overflow: auto;
}

.w-box-content.company_loans_wdg {
	display: block;
	height: 220px;
	overflow: auto;
}

.company_details_wdg .row-fluid + .row-fluid {
    margin-top: 10px!important;
}

.w-box-content.company_comments_wdg span.info,
.w-box-content.company_loans_wdg span.info,
.w-box-content.company_balances_wdg span.info, .w-box-content.company_sose_wdg span.info {
	padding: 21px;
	display: block;
	font-style: italic;
	text-align: center;
	margin: auto;
}
.w-box-content.company_comments_wdg ul,
.w-box-content.company_loans_wdg ul {
	margin: 9px 0 0;
	padding: 0;
}
.w-box-content.company_comments_wdg ul li,
.w-box-content.company_loans_wdg ul li {
	list-style-type: none;
	border-bottom: 1px dashed #dcdcdc;
	line-height: normal;
	padding: 8px;
}

.w-box-content.company_comments_wdg ul li span.text {
	display: block;
}

.w-box-content.company_comments_wdg ul li span.subtext {
	font-size: 0.8em;
	color: #7f7f7f;
}

.w-box-content.company_loans_wdg ul li {

}

.w-box-content.company_loans_wdg ul li:hover {
	cursor: pointer;
	background: #eee}

.w-box-content.company_loans_wdg ul li span.amount {
    font-weight: bold;
}

.w-box-content.company_loans_wdg ul li span.date {
    font-size: 0.8em;
    color: #7f7f7f;
}

.w-box-content.company_balances_wdg {
	display: block;
	height: 600px;
	overflow: auto;
	padding: 13px;
	background-color: #F5F5F5;
}

.w-box-content.company_sose_wdg {
	display: block;
	min-height: 100px;
/*
    max-height: 600px;
    overflow: auto;
*/
	padding: 13px;
	background-color: #F5F5F5;
}

.balance-table {
	width: auto;
}

.balance-table td, .balance-table th {
	width: 300px;
}

.balance-table tr.subtotal td, .balance-table tr.subtotal th {
	background-color: #ebf2f6!important;
}


.control-group.f_error {
    background-color: #F2DEDE;
    border-radius: 4px 4px 4px 4px;
}

form.sose span.units {
	color: #797979;
	font-size: .7em;
	display: block;
}

form.sose .help-inline {
    max-width: 250px;
}

form.sose h4.heading {
    padding-top: 10px;
}

form.sose .formSep {
    margin-bottom: 3px;
    padding-bottom: 3px;
}

@media screen and (min-width: 700px) {
	
	form.sose label.control-label {
		width: 50px;
        margin-right: 20px;
	}
	
	form.sose .controls {
		margin-left: 515px;
	}

}

.tab-pane-sose {
    padding:20px 10px 20px 10px;
    background-color: #ffffff;
    border-left: 1px solid #DCDCDC;
    border-right: 1px solid #DCDCDC;
    border-bottom: 1px solid #DCDCDC;
}

.progress {
    background-image: -o-linear-gradient(top,#CCC,#CCC);
    background-image: linear-gradient(to bottom,#CCC,#CCC);
    margin-bottom: auto;
}

.progress .bar span {
    margin-left: 5px;
    font-size: 10px;
}

.gerico_evaluation_results {
    height: 300px;
    overflow-y: scroll;
    font-size: 15px;
}

.sose .dl-horizontal dd {
    width: 50%!important;
    padding-right: 10px;
}

.sose .dl-horizontal dt {
    width: 50%!important;
    overflow: visible!important;
    text-overflow: clip!important;
    white-space: nowrap!important;
}

.navbar .brand {
    width: 500px!important;
}

.custombtn{
    font-size: 13px;
    padding: 4px 10px;
}

#dialog {
    padding: 20px;
}

#dialog .row-fluid {
    margin-bottom: 10px;
}

.command-disabled {
    color: #808080 !important;
    cursor: not-allowed !important;
}

.duplicate-company {
    background-color: red;
}

.alert.message{
    color: #468847;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.alert.error{
    color: #b94a48;
    background-color: #f2dede;
    border-color: #eed3d7;
}
.alert.notice{
    color: #3a87ad;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.client_company_alert{
    background-color: orangered;
    /*border: 1px solid red;
    border-top: 1px solid red !important;
    border-left: 1px solid red !important;*/
}

#ecolo_questionnary_form input[type=text]{
    width: 80px;
}
/*DESCRIZIONE DELLA TABELLA CON QUESTIUONARIO*/
#questionnaireTable{
    width: 100%;
    margin-bottom: 5px;
}