body{
    width: 96%;
    margin: 0 auto !important;
    padding: 0 !important;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
.header_logo{
    width: 95%;
    margin: 0 auto;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.logo_first img{
    width: 200px;
}
.logo_second img{
    width: 200px;
}
.caption h1{
    text-align: center;
}
.general h3{
    margin-bottom: 10px;
    font-size: 24px;
}
.general p{
    margin-bottom: 10px;
}
.check h3{
    font-size: 24px;
}
.check_table{
    width: 100%;
    text-align: left;
}
.check_table tr{
    margin-bottom: 20px;
}
.check_table tr:nth-child(2){
    height: 120px;
}
.check_table tr:last-child{
    height: 120px;
}
.check_table h4{
    font-size: 24px;
    margin: 30px 0 0 0;
}
.check_table tr th:first-child{
    width: 60%;
}
.check_table tr th:last-child{
    width: 20%;
}
.procent{
    font-size: 50px;
    font-weight: 500;
    text-align: center;
}
.red_pro{
    color: #C00000;
    border-right: 2px solid black;
}
.green_pro{
    color: #548235;
    border-right: 2px solid black;
}
.level{
    text-align: center;
}
.check_table p{
    color: #808080;
    font-size: 14px;
    font-weight: normal;
    margin: 20px 0 0 0;
}
.quality{
    display: flex;
    align-items: center;
}
.attention_logo{
    width: 15%;
}
.attention_logo{
    margin-top: 40px;
}
.attention_logo img{
    width: 80%;
}
.attention_text{
    width: 80%;
}
.attention_text p{
    margin-top: 35px;
    font-size: 20px;
}
.chart_colors ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    color: #7F7F7F;
    font-size: 18px;
}
.chart_colors .color{
    width: 40px;
    height: 20px;
    margin: 0 10px 0 30px;
}
.color.color_blue{
    background-color: #4472C4;
}
.color.color_gray{
    background-color: #BFBFBF;
}
.chart_blocks{
    width: 100%;
}
.block{
    display: inline !important;
    width: 30%;
}
.chart_cross{
    height: 170px;
}
.chart_cross img{
    width: 120px;
    display: block;
    margin: 90px auto 0;
}
.chart_description{
    text-align: center;
    color: #7F7F7F;
    font-size: 24px;
}
.chart_description:first-child, .chart_description:nth-child(2){
    margin-top: 40px;
}
.chart_description p{
    margin: 0;
}
.chart{
    width: 95%;
    background-color: #F2F2F2;
    padding-bottom: 30px;
    margin: 40px auto 20px;
}
