

body { font: 10pt "Arial", "Helvetica", "san-serif"; line-height: 1.3; }
h1 { font-size: 18pt; }
h2 { font-size: 16pt; margin-top: 25px; }

p {
    font-size: 10pt;
}

.print-main-logo {
    width: 142px;
    height: 46px;
    background-image: url(/img/eb-logo.jpg);
    float: left;
    display: block;
    margin-right: 2cm;
}

table tr td {

}

.page-break  { display: block; page-break-before: always; }
