/*textarea*/
.ui-resizing {
    display: block;
    overflow: hidden;
    resize: none;
    border: 1px solid #47b39c;
    border-radius: 5px;
    font-size: 18px;
    padding: 14px 18px;
    position: relative;
    width: 551px;
    height: 55px;
    left: -15px;
}
.ui-resizing::placeholder {
    color: #9A99A2;
}
.ui-resizing:hover,
.ui-resizing:active,
.ui-resizing:focus {
    outline: none;
}

.def-resizing {
    width: 340px;
    height: auto;
    min-height: 31px;
    font-size: 14px;
    background-color: #fff;
    padding: 5px 15px;
}

.hover_btn:hover {
    transition: 0.1s!important;
    background: #32774B!important;
}

.link_btn_grey {
    font-weight: 400!important;
    background: #DADEE1!important;
}

.link_btn_grey:hover {
    transition: 0.1s!important;
    background: #C3C7C9!important;
}

.fill_hover_btn:hover {
    transition: 0.1s!important;
    background-color: #F19100!important;
}

.blockD .block_content table input {
    border: 1px solid #47B39C!important;
}

.new_application table td, .new_application table th {
    border: none;
}

.new_application table tr:nth-child(odd) td {
    background: #F3F3F3;
}

.table td, .table th {
    border: none;
}

.link_btn, .profile_btn, .pdf_btn {
    font-weight: 400!important;
}
